/* background image */
body {
	background-image: url(../images/background.jpg);
	background-size: cover;
}

/* table headings bold */
th {
	font-weight: bold;
}

/* jumbotron and panel border/background */
.jumbotron, .panel {
	border: 5px solid #6e5d3c;
	background-color: #d7a463;
}

/* jumbotron padding */
.jumbotron {
	padding: 24px 60px 24px 60px;
}

/* blockquote padding/border */
.blockquote {
	padding-top: 0px;
	border: none;
}

/* input boxes background color and border */
.form-control {
	background-color: #fdf9a1;
	border: 1px solid #6e5d3c;
}

/* button background, border, font color */
.btn-default {
	background-color: white;
	background-image: none;
	border: 1px solid #6e5d3c;
}

/* panel headers background and border */
.panel-default>.panel-heading {
	background-color: white;
	background-image: none;
	border-bottom: 1px solid #6e5d3c;
}

/* table data and headers border color */
.table>tbody>tr>td, .table>thead>tr>th {
	border-top: 1px solid #fecd6e;
}

.table>thead>tr>th {
	border-bottom: 2px solid #fecd6e;
	background-color: #fecd6e;;
}

/* google fonts */
h1 {
	font-family: 'Ewert', cursive;
	margin-bottom: 0px;
	background-color: white;
	border-radius: 25px;
}

.blockquote, .panel-body, .panel-title, .blockquote-footer, 
.btn-default {
	font-family: 'Smokum', cursive;
	color: white;
	letter-spacing: 1.8px;
}

.panel-title, .btn-default {
	color: #fecd6e;
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black,
	  0 -1px black;
}

/* font sizing */
h3 {
	font-size: 36px;
}

.panel-body, .blockquote-footer, .form-control {
	font-size: 26px;
}

.panel-title {
	font-size: 38px;
}

#submit-button {
	font-size: 28px;
}

/* button pseudo classes */
.btn-default:hover, .btn-default:focus, .btn-default:active,
.btn-default.active, .open>.dropdown-toggle.btn-default {
    color: white;
    background-color: #fecd6e;
    border-color: #fdf9a1;
}